.catBox {
    
    padding-top: 48px;
    background-color: #8f8f8f;
    border-radius: 10px;
    padding-left: 42px;
    padding-bottom: 100px;
}

.catBoxxx {
    
    border-radius: 10px;
    background-color: #8f8f8f;
    padding-left: 42px;
    padding-bottom: 78px;
    /* padding-top: 20px; */
}
.catBoxModal {
    border-radius: 10px;
    background-color: #8f8f8f;

    padding-left: 42px;
    padding-bottom: 126px;
    padding-top: 20px;
}
#breedingCattributes{
    position: absolute;
    bottom: 0px;
}
.cattributes {
    background-color: #8f8f8f;
    padding: 25px;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}
#defaultKitty,#randomKitty{
    margin-right: 6px;
}
